@use "./mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $black;
}
img {
  max-width: 100%;
}
a {
  &:visited {
    color: black;
  }
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.h-100 {
  height: 100%;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.overflow-hidden {
  overflow: hidden;
}

/*----
Contents Start
----*/
header {
  height: 50px;
  width: 100%;
  padding: 0 2rem;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include md {
    position: fixed;
    z-index: 5;
  }
  h1.logo {
    width: 100%;
    font-size: 1.3rem;
    color: $white;
    position: relative;
    z-index: 10;
    @include md {
      position: fixed;
    }
  }
}
nav {
  height: 100%;
  width: 100%;
  //   PC版のナビゲーション
  .pc_nav {
    height: 100%;
    @include md {
      display: none;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      height: 100%;
      li {
        height: 100%;
        a {
          height: 100%;
          display: block;
          color: $white;
          text-decoration: none;
          padding: 0 1rem;
          line-height: 50px;
          white-space: nowrap;
          transition: all 0.1s;
          text-transform: uppercase;
          &:hover {
            background-color: $grey;
          }
        }
      }
    }
  }

  //   モバイル版のナビゲーション
  .mobile_nav {
    display: none;
    @include md {
      display: block;
      width: 100%;
    }
    // ハンバーガーメニューボタン
    .openbtn1 {
      margin-left: auto;
      position: relative;
      z-index: 10;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: $white;
        width: 45%;
        &:nth-of-type(1) {
          top: 15px;
        }
        &:nth-of-type(2) {
          top: 23px;
        }
        &:nth-of-type(3) {
          top: 31px;
        }
      }
      &.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      &.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }

    //モバイルナビコンテンツ
    ul {
      list-style: none;
      position: fixed;
      z-index: 1;
      top: 50px;
      left: 50%;
      transform: translateX(-50%) translateY(-120%);
      width: 100%;
      height: 100vh;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      transition: all 0.7s ease-in-out;
      background: rgba(51, 51, 51, 0.85);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);

      li {
        width: 100%;
        text-align: center;
        a {
          display: block;
          width: 100%;
          text-decoration: none;
          color: $white;
          padding: 1rem 0;
          text-transform: uppercase;
        }
      }
    }
    .menu_down {
      transform: translateX(-50%) translateY(0);
      transition: all 0.7s ease-in-out;
    }
  }
}

// MainVisual
section#MainVisual {
  min-height: 500px;
  background: rgb(30, 0, 110);
  background: linear-gradient(
    90deg,
    rgba(30, 0, 110, 1) 0%,
    rgba(140, 0, 0, 1) 100%
  );
  display: flex;
  align-items: flex-end;
  @include md {
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .description {
    & > * {
      color: $white;
      font-size: 1.5rem;
      font-weight: normal;
    }
    height: 100%;
    margin: auto;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
      @include md {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.7rem;
      @include md {
        font-size: 1.2rem;
      }
    }
    a.btn {
      background-color: $blue;
      border-radius: 1.2rem;
      text-align: center;
      padding: 0.3rem 1.2rem;
      margin-top: 0.5rem;
      text-decoration: none;
      @include md {
        font-size: 1rem;
      }
    }
  }
  .devicePhoto {
    width: 60%;
    @include sm {
      width: 80%;
    }
  }
}

// About
section#about {
  padding: 6rem 0;
}

// Camera
section#camera {
  padding: 8rem 0;
  @include title;

  .camera_lens {
    .sub_title {
      h3 {
        margin-top: 1rem;
      }
    }

    .d-flex {
      justify-content: space-around;
      align-items: center;
      @include md {
        flex-direction: column;
        gap: 3rem;
      }
      .lens_desc {
        width: 40%;
        margin-top: 3rem;
        @include md {
          width: 70%;
        }
      }
      .lens_img {
        width: 40%;
        position: relative;
        margin-bottom: auto;
        @include md {
          width: 50%;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 120%;
          background-image: linear-gradient(
            180deg,
            transparent 0 30%,
            $black 70% 100%
          );
        }
      }
    }
  }

  .camera_night {
    margin-top: 5rem;

    .sub_title {
      h3 {
        margin-bottom: 1rem;
      }
    }

    .d-flex {
      justify-content: space-around;
      align-items: center;
      @include md {
        flex-direction: column;
        gap: 3rem;
      }

      .night_desc {
        width: 40%;
        margin-top: 3rem;
        @include md {
          width: 70%;
        }
      }
      .night_img {
        width: 40%;
        margin-bottom: 3rem;
        @include md {
          width: 70%;
        }
      }
    }
  }
}

section#sound {
  padding: 8rem 0;
  @include title;

  .sound_bgimg {
    background-image: url(../images/Audio01.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .sound_description {
    margin: 8rem auto;
    h2 {
      margin-bottom: 2rem;
    }
  }
  .sound_pairing_bgimg {
    background-image: url(../images/Audio02.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

section#display {
  padding: 8rem 0;
  @include title;

  .display_bgimg {
    background-image: url(../images/Display01.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include lg {
      background-position: right 20% top;
    }
  }
}
