* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fcfcfc;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #333333;
}

img {
  max-width: 100%;
}

a:visited {
  color: black;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.h-100 {
  height: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

/*----
Contents Start
----*/
header {
  height: 50px;
  width: 100%;
  padding: 0 2rem;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    z-index: 5;
  }
}
header h1.logo {
  width: 100%;
  font-size: 1.3rem;
  color: #fcfcfc;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  header h1.logo {
    position: fixed;
  }
}

nav {
  height: 100%;
  width: 100%;
}
nav .pc_nav {
  height: 100%;
}
@media screen and (max-width: 768px) {
  nav .pc_nav {
    display: none;
  }
}
nav .pc_nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  height: 100%;
}
nav .pc_nav ul li {
  height: 100%;
}
nav .pc_nav ul li a {
  height: 100%;
  display: block;
  color: #fcfcfc;
  text-decoration: none;
  padding: 0 1rem;
  line-height: 50px;
  white-space: nowrap;
  transition: all 0.1s;
  text-transform: uppercase;
}
nav .pc_nav ul li a:hover {
  background-color: #666666;
}
nav .mobile_nav {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .mobile_nav {
    display: block;
    width: 100%;
  }
}
nav .mobile_nav .openbtn1 {
  margin-left: auto;
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
nav .mobile_nav .openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fcfcfc;
  width: 45%;
}
nav .mobile_nav .openbtn1 span:nth-of-type(1) {
  top: 15px;
}
nav .mobile_nav .openbtn1 span:nth-of-type(2) {
  top: 23px;
}
nav .mobile_nav .openbtn1 span:nth-of-type(3) {
  top: 31px;
}
nav .mobile_nav .openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
nav .mobile_nav .openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}
nav .mobile_nav .openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
nav .mobile_nav ul {
  list-style: none;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(-120%);
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  transition: all 0.7s ease-in-out;
  background: rgba(51, 51, 51, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}
nav .mobile_nav ul li {
  width: 100%;
  text-align: center;
}
nav .mobile_nav ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fcfcfc;
  padding: 1rem 0;
  text-transform: uppercase;
}
nav .mobile_nav .menu_down {
  transform: translateX(-50%) translateY(0);
  transition: all 0.7s ease-in-out;
}

section#MainVisual {
  min-height: 500px;
  background: rgb(30, 0, 110);
  background: linear-gradient(90deg, rgb(30, 0, 110) 0%, rgb(140, 0, 0) 100%);
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  section#MainVisual {
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
section#MainVisual .description {
  height: 100%;
  margin: auto;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
}
section#MainVisual .description > * {
  color: #fcfcfc;
  font-size: 1.5rem;
  font-weight: normal;
}
section#MainVisual .description h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  section#MainVisual .description h1 {
    font-size: 2rem;
  }
}
section#MainVisual .description p {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  section#MainVisual .description p {
    font-size: 1.2rem;
  }
}
section#MainVisual .description a.btn {
  background-color: #0066ff;
  border-radius: 1.2rem;
  text-align: center;
  padding: 0.3rem 1.2rem;
  margin-top: 0.5rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  section#MainVisual .description a.btn {
    font-size: 1rem;
  }
}
section#MainVisual .devicePhoto {
  width: 60%;
}
@media screen and (max-width: 576px) {
  section#MainVisual .devicePhoto {
    width: 80%;
  }
}

section#about {
  padding: 6rem 0;
}

section#camera {
  padding: 8rem 0;
}
section#camera .title {
  margin-bottom: 7rem;
}
section#camera .title h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
section#camera .camera_lens .sub_title h3 {
  margin-top: 1rem;
}
section#camera .camera_lens .d-flex {
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  section#camera .camera_lens .d-flex {
    flex-direction: column;
    gap: 3rem;
  }
}
section#camera .camera_lens .d-flex .lens_desc {
  width: 40%;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  section#camera .camera_lens .d-flex .lens_desc {
    width: 70%;
  }
}
section#camera .camera_lens .d-flex .lens_img {
  width: 40%;
  position: relative;
  margin-bottom: auto;
}
@media screen and (max-width: 768px) {
  section#camera .camera_lens .d-flex .lens_img {
    width: 50%;
  }
}
section#camera .camera_lens .d-flex .lens_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: linear-gradient(180deg, transparent 0 30%, #333333 70% 100%);
}
section#camera .camera_night {
  margin-top: 5rem;
}
section#camera .camera_night .sub_title h3 {
  margin-bottom: 1rem;
}
section#camera .camera_night .d-flex {
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  section#camera .camera_night .d-flex {
    flex-direction: column;
    gap: 3rem;
  }
}
section#camera .camera_night .d-flex .night_desc {
  width: 40%;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  section#camera .camera_night .d-flex .night_desc {
    width: 70%;
  }
}
section#camera .camera_night .d-flex .night_img {
  width: 40%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  section#camera .camera_night .d-flex .night_img {
    width: 70%;
  }
}

section#sound {
  padding: 8rem 0;
}
section#sound .title {
  margin-bottom: 7rem;
}
section#sound .title h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
section#sound .sound_bgimg {
  background-image: url(../images/Audio01.jpg);
  width: 100%;
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section#sound .sound_description {
  margin: 8rem auto;
}
section#sound .sound_description h2 {
  margin-bottom: 2rem;
}
section#sound .sound_pairing_bgimg {
  background-image: url(../images/Audio02.jpg);
  width: 100%;
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section#display {
  padding: 8rem 0;
}
section#display .title {
  margin-bottom: 7rem;
}
section#display .title h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
section#display .display_bgimg {
  background-image: url(../images/Display01.jpg);
  width: 100%;
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 992px) {
  section#display .display_bgimg {
    background-position: right 20% top;
  }
}/*# sourceMappingURL=style.css.map */