@use './mixin' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  // outline: 1px solid red;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $black;
}
img {
  max-width: 100%;
}
a {
  &:visited {
    color: black;
  }
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.h-100 {
  height: 100%;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.overflow-hidden {
  overflow: hidden;
}
.text-center {
  text-align: center;
}

.alert {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: rgb(253, 237, 237);
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 4px 0px black;
  z-index: 100;
  p {
    line-height: 1.43;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(95, 33, 32);
    font-family: serif;
  }
}

/*----
Contents Start
----*/
header {
  height: 50px;
  width: 100%;
  padding: 0 2rem;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include md {
    position: fixed;
    z-index: 5;
  }
  h1.logo {
    width: 100%;
    font-size: 1.3rem;
    position: relative;
    z-index: 10;
    @include md {
      position: fixed;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
nav {
  height: 100%;
  width: 100%;
  //   PC版のナビゲーション
  .pc_nav {
    height: 100%;
    @include md {
      display: none;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      height: 100%;
      li {
        height: 100%;
        a {
          height: 100%;
          display: block;
          color: $white;
          text-decoration: none;
          padding: 0 1rem;
          line-height: 50px;
          white-space: nowrap;
          transition: all 0.1s;
          text-transform: uppercase;
          &:hover {
            background-color: $grey;
          }
        }
      }
    }
  }

  //   モバイル版のナビゲーション
  .mobile_nav {
    display: none;
    @include md {
      display: block;
      width: 100%;
    }
    // ハンバーガーメニューボタン
    .openbtn1 {
      margin-left: auto;
      position: relative;
      z-index: 10;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: $white;
        width: 45%;
        &:nth-of-type(1) {
          top: 15px;
        }
        &:nth-of-type(2) {
          top: 23px;
        }
        &:nth-of-type(3) {
          top: 31px;
        }
      }
      &.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      &.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
      }
    }

    //モバイルナビコンテンツ
    ul {
      list-style: none;
      position: fixed;
      z-index: 1;
      top: 50px;
      left: 50%;
      transform: translateX(-50%) translateY(-120%);
      width: 100%;
      height: 100vh;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      transition: all 0.7s ease-in-out;
      background: rgba(51, 51, 51, 0.85);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);

      li {
        width: 100%;
        text-align: center;
        a {
          display: block;
          width: 100%;
          text-decoration: none;
          color: $white;
          padding: 1rem 0;
          text-transform: uppercase;
        }
      }
    }
    .menu_down {
      transform: translateX(-50%) translateY(0);
      transition: all 0.7s ease-in-out;
    }
  }
}

// MainVisual
section#MainVisual {
  min-height: 500px;
  background: rgb(30, 0, 110);
  background: linear-gradient(
    90deg,
    rgba(30, 0, 110, 1) 0%,
    rgba(140, 0, 0, 1) 100%
  );
  display: flex;
  align-items: flex-end;
  @include md {
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .description {
    & > * {
      color: $white;
      font-size: 1.5rem;
      font-weight: normal;
    }
    height: 100%;
    margin: auto;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: center;
    @-webkit-keyframes zoomIn {
      from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
      }
      50% {
        opacity: 1;
      }
    }
    @keyframes zoomIn {
      from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
      }
      50% {
        opacity: 1;
      }
    }
    &.zoomIn {
      -webkit-animation-name: zoomIn;
      animation: zoomIn 1s;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
      @include md {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.7rem;
      @include md {
        font-size: 1.2rem;
      }
    }
    a.btn {
      background-color: $blue;
      border-radius: 1.2rem;
      text-align: center;
      padding: 0.3rem 1.2rem;
      margin-top: 0.5rem;
      text-decoration: none;
      @include md {
        font-size: 1rem;
      }
    }
  }
  .devicePhoto {
    width: 60%;
    @include sm {
      width: 80%;
    }
  }
}

// About
section#about {
  padding: 6rem 0;
}

// Camera
section#camera {
  padding: 8rem 0;
  @include title;

  .camera_lens {
    .sub_title {
      h3 {
        margin-top: 1rem;
      }
    }

    .d-flex {
      justify-content: space-around;
      align-items: center;
      @include md {
        flex-direction: column;
        gap: 3rem;
      }
      .lens_desc {
        width: 40%;
        margin-top: 3rem;
        @include md {
          width: 70%;
        }
      }
      .lens_img {
        width: 40%;
        position: relative;
        margin-bottom: auto;
        @include md {
          width: 50%;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 120%;
          background-image: linear-gradient(
            180deg,
            transparent 0 30%,
            $black 70% 100%
          );
        }
      }
    }
  }

  .camera_night {
    margin-top: 5rem;

    .sub_title {
      h3 {
        margin-bottom: 1rem;
      }
    }

    .d-flex {
      justify-content: space-around;
      align-items: center;
      @include md {
        flex-direction: column;
        gap: 3rem;
      }

      .night_desc {
        width: 40%;
        margin-top: 3rem;
        @include md {
          width: 70%;
        }
      }
      .night_img {
        width: 40%;
        margin-bottom: 3rem;
        @include md {
          width: 70%;
        }
      }
    }
  }
}

// サウンド
section#sound {
  padding: 8rem 0;
  @include title;

  .sound_bgimg {
    background-image: url(../images/Audio01.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4rem;
  }

  .sound_description {
    margin: 8rem auto;
    h2 {
      margin-bottom: 2rem;
    }
  }
  .sound_pairing_bgimg {
    background-image: url(../images/Audio02.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4rem;
  }
}

// ディスプレイ
section#display {
  padding: 8rem 0;
  @include title;

  .display_bgimg {
    background-image: url(../images/Display01.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4rem;

    @include lg {
      background-position: right 20% top;
    }
  }

  .sub_title {
    margin: 8rem auto 0 auto;
    h3 {
      margin-top: 1rem;
    }
  }

  .d-flex {
    align-items: center;

    @include md {
      flex-direction: column;
    }
    .description {
      width: 40%;
      @include md {
        width: 70%;
        margin-top: 3rem;
      }

      h3 {
        margin-bottom: 1rem;
      }
    }

    .display_img {
      width: 60%;
      @include md {
        width: 70%;
      }
    }
  }
}

// ゲーム
section#game {
  padding: 8rem 0;
  @include title();

  .game_bgimg {
    background-image: url(../images/Processor.jpg);
    width: 100%;
    height: 400px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4rem;
  }

  p.description {
    width: 60%;
    margin-top: 3rem;
  }
}

// 仕様
section#spec {
  @include title();
  background-image: url(../images/Spec.jpg);
  width: 100%;
  // height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  text-shadow: 2px 2px 1px $black, -2px 2px 1px $black, 2px -2px 1px $black,
    -2px -2px 1px $black, 2px 0px 1px $black, 0px 2px 1px $black,
    -2px 0px 1px $black, 0px -2px 1px $black;
  @include md {
    background-position: right 30% bottom;
  }

  .title {
    padding: 8rem 0;
  }

  .wrapper {
    table {
      border-spacing: 5rem 1rem;
      @include sm {
        border-spacing: 1rem;
      }
    }
  }
}

.btn_bg_white {
  background-color: $white;
  padding-top: 3rem;
  a.btn {
    background-color: $blue;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: $white;
    text-decoration: none;
  }
}

// 周辺機器
section#other_items {
  background-color: $white;
  color: $black;
  padding: 8rem 0;
  * {
    color: $black;
  }
  @include title();

  .d-flex {
    margin-top: 4rem;
    justify-content: space-between;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .card {
      width: 40%;
      @include md {
        width: 70%;
      }
      @include sm {
        width: 80%;
      }
    }
  }
}

// 保証
section#guarantee {
  background-color: $white;
  padding-bottom: 3rem;
  * {
    color: $black;
  }
  .wrapper {
    border: 1px solid $black;
    border-radius: 1rem;

    h1 {
      margin: 1rem 0;
    }

    p {
      padding: 1rem 10%;
    }
  }
}

// ページトップボタン
p#page-top {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    transition: all 0.3s;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    opacity: 0;
    transform: translateX(100px);

    &:hover {
      background-color: $grey;
      color: $white;
      transition: all 0.3s;
    }

    &.LeftMove {
      animation: LeftAnime 0.5s forwards;

      @keyframes LeftAnime {
        from {
          opacity: 0;
          transform: translateX(100px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    &.RightMove {
      animation: RightAnime 0.5s forwards;

      @keyframes RightAnime {
        from {
          opacity: 1;
          transform: translateX(0);
        }
        to {
          opacity: 1;
          transform: translateX(100px);
        }
      }
    }
  }
}

// フッター
footer {
  padding: 3rem 0;
  .title {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }

  .d-flex {
    margin-top: 1rem;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    small {
      display: block;
      margin-left: auto;
      @include md {
        margin: 0 auto;
      }
    }

    ul.footer_nav {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 2rem;
      @include md {
        margin: 3rem auto 0 auto;
        width: 100%;
        flex-wrap: wrap;
      }

      li {
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

/*　アニメーション用　*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation: fadeInUp 1.5s;
}
